/* Main content container */
.mainpagemain-content {
    flex-grow: 1;
    padding: 20px;
    display: block;
    text-align: center;
  }
  
  .mainpagemain-content {
    padding: 5px;
  }
  
  .mainpagemain h1 {
    font-size: 10vw; /* Set the font size relative to viewport width */
    color: red; /* Customize color of text */
    text-align: center; /* Ensure text is centered */
    margin: 0; /* Remove default margins */
    line-height: 1.1; /* Optional: Adjust line-height */
  }
  