.appC {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F0F2F5;
}

/* Main content container with sidebar and main content */
.content {
  display: flex;
  height: calc(100vh - 80px); /* Adjust height minus the navbar */
}

/* Main content area (for DmPage or other components) */
.mainContent {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

