.header {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 70px !important;
    background-color: rgba(6, 7, 8, 0.96) !important;
    z-index: 2147483647 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px 20px !important;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8) !important;
    transition: none !important;
  }
  
  .headerHidden {
    transform: translateY(0) !important;
    transition: transform 0.3s ease !important;
  }
  
  .headerScrolled {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8) !important;
  }
  
  .logoContainer {
    display: inline-block;
    align-items: center;
  }
  
  .logo {
    width: 200px;
    height: auto;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .logoLoaded {
    opacity: 1;
    transform: translateX(0);
  }
  
  .logo2 {
    width: 300px;
    height: 60px;
    margin-right: 20px;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .logo2Loaded {
    opacity: 1;
    transform: translateX(0);
  }
  .section {
    padding-top: 80px;
    margin-top: -80px;
  }
  
  .nav {
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
  }
  
  .navLoaded {
    opacity: 1;
  }
  
  .navLink {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 0.3s ease-in-out;
    position: relative;
    padding-left: 15px;
    margin: 0 30px;
    transition: color 0.3s ease;
    overflow: hidden; 
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .slideIn {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  
  .navLink {
    position: relative;
  }
  
  .linkText {
    position: relative;
    display: inline-block;
    padding: 0.25rem 0.5rem;
  }
  
  
  .navLink:hover {
    transform: scale(1.2);
    color: white;
    opacity: 1;
    text-shadow: 0 0 8px #fff, 0 0 12px #fff, 0 0 20px #fff; 
  }
  
  .navLinkLoaded {
    opacity: 1;
  }
  
  .underline {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .underlineHovered {
    transform: scaleX(1);
  }
  
  .nav .nav-link {
    margin-left: 0;
  }
  
  