/* Header.module.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000C24;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between logos */
  }
  
  .logoStyle {
    width: 200px;
    height: auto;
  }
  
  .logoStyle2 {
    width: 180px;
    height: auto;
  }
  
  .searchBarContainer {
    display: flex;
    align-items: center;
    max-width: 400px;
    flex: 1; /* Allow the search bar to grow */
  }
  
  .inputStyle {
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 25px 0 0 25px;
    outline: none;
    width: 100%;
  }
  
  .buttonStyle {
    border: none;
    background-color: #0E4C79;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    font-size: 1rem;
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between icons */
  }
  
  .bellIcon {
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .keyIcon {
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .tumeloStyle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
  }
  