/* Ensure that the container can scroll vertically if there's overflow */
.scrollableContainer {
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enable vertical scroll */
}
  
.appNavigations {
    display: flex;
    flex-direction: column; /* Adjust this if necessary */
    max-height: 100%;
}
