.rating_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.rating_table, th, td {
  border: 1px solid black;

}

.rating_table , th, td {
  padding: 10px;
  text-align: left;
  color: black;
}

.rate_name_input[type="text"], textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: black solid 1px;
}

.rate_surname_input[type="text"], textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: black solid 1px;
}

.back_Button {
  padding: 5px 10px;
  background-color: #0d1431;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.back_Button:hover {
  background-color: #0c163b;
}

h2 {
  margin-bottom: 10px;
}

textarea {
  resize: none;
}

.answer_rating {
  text-align: center;
}

.rate_deleteButton {
  background-color: #0d1431;
 
}

.rate_duplicateButton {
  background-color: #0d1431;
}

.rate_duplicateButton:hover {
  background-color: #202e6e;
}

.rate_deleteButton:hover {
  background-color: #202e6e;
 
}
