.quizzLanding_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizzLanding_cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Space between cards */
  width: 100%;
  max-width: 1200px; /* Optional: Limit the container width */
}

.quizzLanding_card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.quizzLanding_card:hover {
  transform: translateY(-5px);
}

.quizzLanding_cardTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.quizzLanding_cardDetails p {
  margin: 8px 0;
}

.quizzLanding_startButton {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quizzLanding_startButton:hover {
  background-color: #0056b3;
}

.quizzLanding_noQuizzesMessage {
  font-size: 1.2rem;
  color: #666;
}
.quizzLanding_searchContainer {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.quizzLanding_searchInput {
  width: 50%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}
