.bulbImage {
  height: 250px;
  width: 250px;
  position: absolute;
  left: 280px;
  top: 140px;
  border-radius: 50%;
}

.bulbImage:hover {
  box-shadow: 0px 0px 20px rgba(236, 205, 67, 0.5);
  transition: 1000ms;
}

.viewButton {
  background-color: #0d1431;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
