

.quizz_viewButton {
  background-color: #18be34;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.quizz_viewButton:hover {
  background-color: #219134;
}

.quizz_submitButton{
  background-color: #18be34;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.quizz_submitButton:hover{
  background-color: #219134;
}