/* SideBarNavBar.module.css */

/* Ensure that the container can scroll vertically if there's overflow */
.scrollableContainer {
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enable vertical scroll */
  }
  
  .appNavigations {
    display: flex;
    flex-direction: column; /* Adjust this if necessary */
    max-height: 100%;
  }
  
  .appContainer {
    display: flex;
    height: 100vh;
    flex-direction: row; /* Side by side layout */
    padding-top: 120px; /* Adjust the padding-top for content below the navbar */
  }
  
  .navBar {
    width: 100%; /* Full width */
    height: 120px;
    background-color: #070c24;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; /* Navbar should appear above other content */
  }
  
  .mainContent {
    flex-grow: 1;
    padding: 20px;
    margin-left: 180px; /* Space for sidebar */
    transition: margin-left 0.3s ease-in-out;
    padding-top: 20px; /* Extra padding to avoid content touching the navbar */
  }
  
  @media (max-width: 768px) {
    .sideBar {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    .navBar {
      width: 100%;
      left: 0;
    }
  
    .mainContent {
      margin-left: 0;
    }
  
    .sideBarCollapsedMainContent {
      margin-left: 0;
    }
  }
  