.sendOTPContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../Assets/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .formBox {
    background-color: #0a1d37;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
  }
  
  .formTitle {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .label {
    color: white;
    text-align: left;
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
    box-sizing: border-box;
  }
  
  .inputField::placeholder {
    color: #d0d0d0;
  }
  
  .submitBtn {
    width: 100%;
    padding: 10px;
    background-color: #2b6db1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .submitBtn:hover {
    background-color: #3b7edb;
  }
  