 /* Side Navigation Bar */
 .sideNav {
    background-color: #002147;
    padding: 20px;
    position: relative; /* Relative positioning to contain the resizer */
    height: calc(100vh - 90px); /* Full height minus header */
    border-right: 2px solid #ccc;
    overflow: hidden;
  }
  
  .sideNav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sideNav li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .sideNav li a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .sideNav li a:hover {
    color: #1e90ff;
  }
  
  .navIcon {
    color: #ffffff;
    font-size: 20px;
  }
  
  /* Resizer */
  .resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #444;
    cursor: ew-resize;
  }
  