.appC {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F0F2F5;
}

/* Main content container with sidebar and main content */
.content {
  display: flex;
  height: calc(100vh - 80px); /* Adjust height minus the navbar */
}

/* Main content area (for DmPage or other components) */
.mainContent {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #D9D9D9;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  flex-direction: column;
}

.loadingSpinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top: 5px solid #007bff; /* Blue color for spinning */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loadingMessage {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

