.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D9D9D9;
  }
  
  .settingsFormSection {
    width: 75%;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
  }
  
  .settingsForm {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    font-weight: bold;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ABAAAA;
    border-radius: 5px;
    color: ABAAAA;
  }
  
  .saveButton {
    padding: 10px;
    background-color: #1E5D8A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .saveButton:hover {
    background-color: #082d47;
  }
  