.popupMessage {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 1000;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .success {
    background-color: #4caf50;
  }
  
  .error {
    background-color: #f44336;
  }
  
  .closeButton {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  