.reportsContainer {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.searchInput {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #0e0505;
  border-radius: 4px;
  width: 250px;
}

.dropdown {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actionBtn {
  padding: 10px 20px;
  background-color: #1f3751;
  color: white;
  margin-right: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.actionBtn:hover {
  background-color: #0056b3;
}

.backBtn {
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.backBtn:hover {
  background-color: #5a6268;
}

.tabBtn {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tabBtn.active {
  background-color: #2e4d6e;
  color: white;
}

.reportTable, .registerTable, .mentorReportTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.reportTable th, .reportTable td,
.registerTable th, .registerTable td,
.mentorReportTable th, .mentorReportTable td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.reportTable th {
  background-color: #2e4d6e;
  color: white;
}

.detailsView {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.tabSwitcher {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.registerView, .mentorReportView {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.extraReport {
  margin-top: 20px;
}

.actionCell {
  display: flex;
  justify-content: space-between;
}

.registerBtn, .mentorReportBtn {
  padding: 8px 12px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: background-color 0.3s ease;
}

.registerBtn:hover, .mentorReportBtn:hover {
  background-color: #f0f0f0;
}
