/* NavBar.module.css */
.navBar {
    background-color: #070c24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 80px;
  }
  
  .appLogo {
    height: 50px;
    width: auto;
  }
  