/* Sidebar Container */
.sideBar {
  width: 250px;
  background-color: #070c24;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 60px;  /* Increased padding to make space for the toggle button */
  height: 100vh; /* Full-height sidebar */
  transition: width 0.3s ease;
}

/* Sidebar closed state */
.sideBarClosed {
  width: 80px;
}

/* Sidebar open state */
.sideBarOpen {
  width: 250px;
}

/* Navigation Links */
.navLinks {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

/* Individual Navigation Item */
.navItem {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #0e1538;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.navItem:hover {
  background-color: #272e42;
}

/* Icon styling */
.icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

/* Active Navigation Item */
.navItem.active {
  background-color: #070c24;
  color: white;
}

/* For hiding text in collapsed state */
.sideBarClosed .navItem span {
  display: none;
}

/* Hide text when sidebar is closed */
.sideBarClosed .navItem {
  justify-content: center; /* Center the icon when text is hidden */
}

/* Hamburger Toggle Button */
.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #070c24;
  border: none;
  position: absolute;
  top: 20px;  /* Adjusted to keep button above the sidebar content */
  left: 50%;  /* Center the button horizontally */
  transform: translateX(-50%);  /* Adjust for exact centering */
  z-index: 10;
}

/* Hamburger Icon */
.hamburgerIcon {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.hamburgerIcon:before,
.hamburgerIcon:after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  left: 0;
}

.hamburgerIcon:before {
  top: -10px;
}

.hamburgerIcon:after {
  top: 10px;
}
